:root {
    --white: #FFFFFF;
    --greyLight-1: #E4EBF8;
    --greyLight-2: #c8d0e7;
}

body {
    color: #999999;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: "Microsoft Yahei Light", "Microsoft Yahei", PingFangSC-Regular, Helvetica, sans-serif;
    line-height: 1.80857;
    background-color: var(--greyLight-1);
    letter-spacing: 0.1em;
}

/* 大标题下的摘要 */

p.group-video {
    margin-top: 4px;
    font-family: SF Pro SC, SF Pro Text, SF Pro Display, SF Pro Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
}

p.group-video .iconfont {
    font-size: 14px;
}

/* 鼠标不可选中的标签 */

.web-menu, .web-list, .dmtop, #submit, .modal-content {
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.api_lks span, .api_lks span:hover, a, a:hover, .filter-button-group button, .show_bilibili, .show_bilibili:hover, .section-title h3, .section-title h3:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
}

a:hover {
    color: darkorange;
}

h2, h3 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0;
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

ul, li, ol {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.hide {
    display: none !important;
}

/* 网站卡片 */

.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 40px 0;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.section-title h3 {
    font-size: 38px;
    font-weight: 900;
    line-height: 62px;
    margin: 0 0 15px;
    padding: 0;
    color: #222222;
    text-transform: none;
    letter-spacing: 0.015em;
    cursor: pointer;
}

.section-title h3:hover {
    color: darkorange;
}

.services-inner-box {
    position: relative;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 1em;
    height: 100px;
    box-shadow: .2rem .2rem .4rem var(--greyLight-2), -.2rem -.2rem .4rem var(--white);
}

.services-inner-box h2 {
    position: absolute;
    font-size: 22px;
    font-weight: 600;
    top: 25px;
    left: 30px;
    letter-spacing: 0.015em;
}

.services-inner-box:active>h2, .services-inner-box:active>span {
    color: darkorange;
}

.services-inner-box p {
    color: #999999;
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.web-single {
    margin: 20px 0 20px;
}

.web-grid {
    padding-left: 25px;
    padding-right: 25px;
}

.web-menu {
    margin-bottom: 10px;
}

/* 滚动特效 */

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.filter-button-group {
    border-radius: 0px;
    margin: 10px 0px;
    display: inline-block;
}

.filter-button-group button.active {
    color: darkorange!important;
    background: rgba(0, 0, 0, 0)!important;
    outline: none!important;
    box-shadow: inset .15rem .15rem .2rem var(--greyLight-2), inset -.15rem -.15rem .2rem #fff!important;
}

.filter-button-group button, .btn-primary {
    border: none!important;
    color: #333!important;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0)!important;
    padding: 8px 20px;
    margin: 0 3px;
    border-radius: 0.3em;
    outline: none!important;
    box-shadow: .1rem .1rem .2rem var(--greyLight-2), -.1rem -.1rem .2rem var(--white)!important;
}

/* 页脚 */

.footer-links {
    padding: 0;
    margin: 0;
    font-family: SF Pro SC, SF Pro Text, SF Pro Display, SF Pro Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.copyrights {
    padding: 25px 0 !important;
    box-shadow: -0.1rem -2px 0 #f1f5fc;
    width: 100%;
    bottom: 0;
}

/* top按钮 */

#scroll-to-top.show {
    bottom: 85px;
}

#scroll-to-question.show {
    bottom: 145px;
}

#scroll-to-question {
    bottom: 85px;
}

#scroll-to-top:active span, #scroll-to-question:active span {
    color: darkorange;
}

.dmtop span {
    font-size: 23px;
}

.dmtop {
    background-color: var(--greyLight-1);
    z-index: 100;
    width: 50px;
    height: 50px;
    line-height: 47px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 50px;
    text-align: center;
    color: #777777 !important;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    box-shadow: 0.2rem 0.2rem 0.4rem rgb(0 0 0 / 12%), -0.2rem -0.2rem 0.4rem rgb(255 255 255 / 70%);
}

.services-inner-box:active, .dmtop:active {
    box-shadow: inset 0.2rem 0.2rem 0.4rem var(--greyLight-2), inset -0.2rem -0.2rem 0.4rem white;
}

/* 星标 */

.services-inner-box>span {
    display: none;
    color: #333333;
    font-weight: 600;
}

.services-inner-box .star {
    width: 40px;
    display: inline;
    position: absolute;
    top: 3px;
    right: 0;
    text-align: center;
}

/* 搜索 */

#search {
    border: none;
    box-sizing: border-box;
    color: #333333;
    font-size: 15px;
    padding: 10px 15px;
    width: 100%;
    height: 45px;
    resize: none;
    background: none;
    border-radius: 0.8em;
    outline: none;
    box-shadow: inset .15rem .15rem .2rem var(--greyLight-2), inset -.15rem -.15rem .2rem #fff;
}

#search::-webkit-input-placeholder {
    color: #a3a3a3;
}

#search::-moz-placeholder {
    color: #a3a3a3;
}

#search::-ms-input-placeholder {
    color: #a3a3a3;
}

#submit {
    display: block;
    float: right;
    font-size: 19px;
    color: #333333;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 45px;
    background: none;
    cursor: pointer;
    box-shadow: .13rem .13rem .23rem var(--greyLight-2), -.13rem -.13rem .23rem var(--white);
}

#submit:hover {
    color: #333333!important;
}

#submit:active {
    color: darkorange!important;
}

#submit:active {
    box-shadow: inset 0.2rem 0.2rem 0.3rem var(--greyLight-2), inset -0.1rem -0.1rem 0.3rem var(--white)!important;
}

.resize-col-md-3 {
    position: absolute;
    top: 53px;
    right: 50px;
    padding: 0 15px 0 0;
}

.resize-col-md-1 {
    position: absolute;
    top: 53px;
    right: 0;
    padding: 0 10px 0 0;
}

/* 模态框 */

#questionModal .modal-title {
    color: #333333;
    font-weight: bold;
}

#exampleModal .modal-body {
    padding-top: 0;
    padding-bottom: 0.5rem;
}

#questionModal .modal-body {
    padding: 1rem 2rem 0;
}

.modal-footer {
    display: block;
    padding-bottom: 1rem;
}

#questionModal .modal-footer {
    padding-bottom: 1.5rem;
}

.modal-footer button {
    width: 90%;
    margin: 5px;
    height: 55px;
    border-radius: 0.8em;
}

.modal-content {
    border-radius: 1em;
    background-color: var(--greyLight-1);
}

.modal-content button {
    outline: none!important;
    box-shadow: none!important;
}

.form-group {
    border-radius: 0.8em;
    outline: none;
    box-shadow: inset .15rem .15rem .2rem var(--greyLight-2), inset -.15rem -.15rem .2rem #fff;
}

.modal-body textarea.form-control, .modal-body input.form-control {
    border: none;
    box-sizing: border-box;
    color: #333333;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    outline: none;
    padding: 10px 24px;
    height: 55px;
    resize: none;
    width: 100%;
    border-radius: 0.8em;
    box-shadow: inset .15rem .15rem .2rem var(--greyLight-2), inset -.15rem -.15rem .2rem #fff;
}

.modal-body input.form-control {
    color: blue;
}

.modal-body textarea.form-control {
    outline: none;
    padding: 20px 24px !important;
    height: 170px !important;
}

.modal-body textarea.form-control:focus, .modal-body input.form-control:focus {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.form-control::-webkit-input-placeholder {
    color: #a3a3a3;
}

.form-control::-moz-placeholder {
    color: #a3a3a3;
}

.form-control::-ms-input-placeholder {
    color: #a3a3a3;
}

/* 星标及切换按钮 */

.btn_toogle, .btn_star {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.btn_toogle .iconfont, .btn_star .iconfont {
    font-size: 14px!important;
}

.category {
    display: none;
}

.btn_toogle:active {
    color: darkorange!important;
    box-shadow: inset .15rem .15rem .2rem var(--greyLight-2), inset -.15rem -.15rem .2rem #fff!important;
}

/* 自定义ele */

.el-notification.right {
    background-color: var(--greyLight-1) !important;
}

.modal-footer .btn-primary {
    box-shadow: .1rem .1rem .2rem var(--greyLight-2), -.1rem -.1rem .3rem var(--white)!important;
}

.btn-primary:hover {
    color: #333333!important;
}

.btn-primary:active {
    color: darkorange!important;
    box-shadow: inset 0.2rem 0.2rem 0.3rem var(--greyLight-2), inset -0.1rem -0.1rem 0.3rem var(--white)!important;
}

.btn {
    transition: color 0s ease-in-out, background-color 0s ease-in-out, border-color 0s ease-in-out, box-shadow 0s ease-in-out;
}

/* 发送按钮 */

#send_msg.send_disabled:active {
    color: #333333!important;
    box-shadow: .1rem .1rem .2rem var(--greyLight-2), -.1rem -.1rem .3rem var(--white)!important;
}

/* 留言接口 */

.api_lks span {
    display: block;
    color: #888888;
    margin-top: 0.45rem;
    font-size: 12px;
}

.api_lks span:hover {
    color: darkorange;
}

/* 弹出框 */

.popover {
    border: none;
    top: 0px!important;
    background-color: #dee5fa;
    background-color: var(--greyLight-1);
    box-shadow: .1rem .1rem .2rem var(--greyLight-2), -.1rem -.1rem .3rem var(--white)!important;
}

.popover-body {
    color: #555;
}

.bs-popover-auto[x-placement^=top]>.arrow::before, .bs-popover-top>.arrow::before {
    border-top-color: rgba(0, 0, 0, 0);
}

.bs-popover-auto[x-placement^=bottom]>.arrow::before, .bs-popover-bottom>.arrow::before {
    border-bottom-color: rgba(0, 0, 0, 0);
}

.bs-popover-auto[x-placement^=top]>.arrow::after, .bs-popover-top>.arrow::after {
    border-top-color: var(--greyLight-1)!important;
}

.bs-popover-auto[x-placement^=bottom]>.arrow::after, .bs-popover-bottom>.arrow::after {
    border-bottom-color: var(--greyLight-1)!important;
}

/* 视频 */

iframe {
    position: relative;
    width: 100%;
    height: 591px;
}

.bilibili_iframe {
    display: none;
    margin: 0;
    padding: 15px 0px 5px;
    box-shadow: .2rem .2rem .4rem var(--greyLight-2), -.2rem -.2rem .4rem var(--white);
}

.show_bilibili {
    color: #333333;
    cursor: pointer;
}

.show_bilibili:hover {
    color: #ff8c00;
}

.web-list {
    margin-top: 10px;
}

/* 移动端响应式布局 */

@media (min-width: 992px) and (max-width: 1219px) {
    iframe {
        height: 555px;
    }
    .filter-button-group button {
        padding: 8px 18px;
        margin: 0 1px;
    }
    .web-list {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    iframe {
        height: 435px;
    }
    .filter-button-group button {
        padding: 5px 10px;
        margin: 4px 1px;
    }
    .web-list {
        margin-top: 10px;
    }
    .filter-button-group {
        text-align: center !important;
        margin: 0;
    }
    .section {
        padding: 30px 0 30px;
    }
    .section-title {
        margin-bottom: 20px;
    }
    .services-inner-box {
        padding: 0;
        margin: 15px 0 0;
    }
    .services-inner-box h2 {
        top: 18px;
        left: 25px;
    }
    .services-inner-box p {
        margin-bottom: 0.6rem;
    }
    .services-inner-box {
        height: 80px;
    }
    .web-menu {
        margin-bottom: 15px;
    }
    .web-single {
        margin: 12px 0 18px;
    }
    .btn_star {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
}

@media (max-width: 767px) {
    iframe {
        height: 360px;
    }
    .filter-button-group button {
        padding: 5px 10px;
        margin: 4px 1px;
    }
    .web-list {
        margin-top: 15px;
    }
    .filter-button-group {
        text-align: center !important;
        margin: 0;
    }
    .section {
        padding: 30px 0 25px;
    }
    .section-title {
        margin-bottom: 20px;
    }
    .services-inner-box {
        padding: 0;
        margin: 15px 0 0;
    }
    .services-inner-box h2 {
        top: 18px;
        left: 25px;
    }
    .services-inner-box p {
        margin-bottom: 0.6rem;
    }
    .services-inner-box {
        height: 80px;
    }
    .web-menu {
        margin-bottom: 15px;
    }
    .web-single {
        margin: 12px 0 18px;
    }
    p.group-video {
        margin: 0;
    }
    p.group-video .iconfont {
        font-size: 13px;
    }
    .col-md-3 {
        top: 0;
        width: 50%;
    }
    .col-md-1 {
        top: 0;
        width: 20%;
    }
    .btn_star {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .copyrights {
        position: relative!important;
    }
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
    iframe {
        height: 200px;
    }
    .bilibili_iframe {
        padding: 10px 0px 3px;
    }
    .web-list {
        margin-top: 10px;
    }
    .filter-button-group button {
        padding: 5px 10px;
        margin: 4px 1px;
    }
    .filter-button-group {
        text-align: center !important;
        margin: 0;
    }
    .section {
        padding: 30px 0 25px;
    }
    .section-title {
        margin-bottom: 20px;
    }
    .services-inner-box {
        padding: 0;
        margin: 15px 0 0;
    }
    .services-inner-box h2 {
        top: 18px;
        left: 25px;
    }
    .services-inner-box p {
        margin-bottom: 0.6rem;
    }
    .services-inner-box {
        height: 80px;
    }
    .web-menu {
        margin-bottom: 15px;
    }
    .web-single {
        margin: 12px 0 18px;
    }
    p.group-video {
        margin: 0;
    }
    p.group-video .iconfont {
        font-size: 13px;
    }
    .col-md-3 {
        top: 0;
        right: 40px;
        width: 40%;
    }
    .col-md-1 {
        top: 0;
        right: -10px;
        width: 20%;
    }
    .btn_star {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    #scroll-to-top.show {
        bottom: 50px;
    }
    #scroll-to-question.show {
        bottom: 110px;
    }
    #scroll-to-question {
        bottom: 50px;
    }
    .dmtop {
        right: 20px;
    }
    .copyrights {
        position: relative!important;
    }
}