@font-face {
  font-family: "iconfont"; /* Project id 2437672 */
  src: url('iconfont.woff2?t=1631690385970') format('woff2'),
       url('iconfont.woff?t=1631690385970') format('woff'),
       url('iconfont.ttf?t=1631690385970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-web__xinshou:before {
  content: "\e64b";
}

.icon-icon_on_the_top:before {
  content: "\e626";
}

