@font-face {
  font-family: "iconfont"; /* Project id 2437672 */
  src: url('iconfont.1.1.0.woff2?t=1631714809492') format('woff2'),
       url('iconfont.1.1.0.woff?t=1631714809492') format('woff'),
       url('iconfont.1.1.0.ttf?t=1631714809492') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  color: #77d648;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingbiao:before {
  content: "\e612";
}

.icon-web__xinshou:before {
  content: "\e64b";
}

.icon-icon_on_the_top:before {
  content: "\e626";
}

