@font-face {
  font-family: "iconfont"; /* Project id 2437672 */
  src: url('iconfont.2.0.0.woff2?t=1662913110851') format('woff2'),
       url('iconfont.2.0.0.woff?t=1662913110851') format('woff'),
       url('iconfont.2.0.0.ttf?t=1662913110851') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan2:before {
  content: "\e603";
}

.icon-show_renqiredu:before {
  content: "\e600";
}

.icon-shangyiyehoutuifanhui:before {
  content: "\e8ef";
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

.icon-diyiye:before {
  content: "\e8f6";
}

.icon-zuihouye:before {
  content: "\e8f7";
}

.icon-jilu:before {
  content: "\e66b";
}

.icon-Interface-55:before {
  content: "\e7fb";
}

.icon-xiezi:before {
  content: "\e610";
}

.icon-qiehuan-:before {
  content: "\e61f";
}

.icon-xingxingkongxin:before {
  content: "\e609";
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-sousuo2:before {
  content: "\e6d9";
}

.icon-xingxing4:before {
  content: "\e639";
}

.icon-web__xinshou:before {
  content: "\e64b";
}

.icon-icon_on_the_top:before {
  content: "\e626";
}

